fieldset {
    padding: 0 1rem 1rem;
}

form div {
    margin-block: 1rem;
}

input, textarea {
    font-size: 1rem;
    padding: .5rem;

    display: block;
    border: 1px solid #bebebe;
    resize: none;

    width: 100%;
    max-width: 100%;
}

form button {
    font-size: 1.5rem;
    padding: .25rem .5rem;

    border-radius: none;
    background: #FFF;
    color: #000;
    border: none;
}

.error {
    color: #cf0000;
}

input:user-invalid, textarea:user-invalid{
    background-color: #cf000009;
}

.button {
    width: fit-content;
}
