header {
    position: fixed;
    top: .5rem;
    left: .5rem;
    right: .5rem;

    height: 5rem;
    background-color: #fefefe;

    box-shadow: 0 0 1rem #bebebe;

    padding-inline: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: clip;
}

header img {
    max-height: 4.5rem;
}

div {
    height: 100%;
    display: flex;
    gap: .25rem

}

.line {
    width: 1.5rem;
    height: 10rem;
    background-color: #000;
    transform: rotate(45deg) translate(-5rem);
}

header div:last-of-type .line {
    transform: rotate(45deg) translate(1.5rem, -1.5rem);
}
.line:last-of-type {
    background-color: #EC2128;
}
.line:first-of-type {
    z-index: 1;
    background-color: #FD0;
}
