.models {
    height: 100%;
    width: 100%;
}

.models.current {
    grid-column: span 2;
    order: -1;
}

.model-viewer {
    background: #FFF;
    height: 100%; 
    width: 100%;
}

img.model-viewer {
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: left;
}