#page-nav {
    position: fixed;
    display: flex;
    flex-direction: column;

    right: max(1.75rem, (100% - 51.75rem) / 2);
    top: 50%;
    transform: translateY(-50%);
}

ul {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    list-style: none;
}

ul::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FD0;
    width: .25rem;
    height: 95%;

    right: -11px;
}

a {
    text-decoration: none;
}

.square {
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #FD0;
    box-shadow: 0 0 0 .125rem #FFF;
    /* border: solid #FFF .125rem; */

    transition: .5s ease-in-out;
}

[aria-current="true"] .square {
    transform: rotate(135deg);
    background-color: #EC2128;
}

span:first-child {
    position: relative;
    color: #000;
    opacity: 0;
    transition: .2s ease;
    margin-right: 1.5rem;
}