#page-nav {
    position: fixed;
    display: flex;
    flex-direction: column;

    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.square {
    /* width: 1rem;
    height: 1rem; */
    border: .25rem solid orange;
}

[aria-current="true"] {
    transform: rotateX(45deg);
}

span:last-child {
    color: #000;
    opacity: 0;
    transition: .2s ease;
}