#page-nav {
    position: fixed;
    display: flex;
    flex-direction: column;

    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    list-style: none;
}

ul::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #FD0;
    width: .25rem;
    height: 90%;

    right: -.75rem;
}

a {
    text-decoration: none;
}

.square {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #FD0;
    border: solid #FFF .125rem;

    transition: .7s ease-in-out;
}

[aria-current="true"] .square {
    transform: rotate(405deg);
    background-color: #EC2128;
}

span:first-child {
    position: relative;
    color: #000;
    opacity: 0;
    transition: .2s ease;
    margin-inline: 1.5rem;
}