@import url(./section.css);
@import url(./page-nav.css);
@import url(./header.css);
@import url(./contact.css);
@import url(./models.css);
@import url(./splash.css);

@font-face {
    font-family: "Bernhard";
    src: url(../../public/fonts/Bernhard\ Condensed\ Bold.otf);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;

    font-family: "Bernhard";
}

.grid {
    display: grid;
}

.--2-columns {
    grid-template-columns: 1fr 1fr;
}

.--2-rows {
    grid-template-rows: 2fr 1fr;
}

.--grid-gap {
    gap: 1rem;
}

.--background {
    background: linear-gradient(145deg,#cf0000 40%, #000000 40%, #000000 60%, #ffdd00 60%);
    padding: .25rem;
}
