@import url(./section.css);
@import url(./page-nav.css);
@import url(./header.css);

@font-face {
    font-family: "Bernhard";
    src: url(../../src/fonts/Bernhard\ Condensed\ Bold.otf);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;

    font-family: "Bernhard";
}

